In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("../Clean_csvs/age_family_region_clean.csv")
df2 = pd.read_csv("../Clean_csvs/project_3_political_income_gap.csv")
df3 = pd.read_csv("../Clean_csvs/project_3_relationship_len_up_to_wv6.csv")

In [2]:
df12 = df1.merge(df2, on="caseid_new")

In [3]:
df12 = df12[["caseid_new", "age_when_met", "family_size", "region", "metro", "same_political", "income_gap"]]
df12.head()
# df12.shape
df12[df12["caseid_new"] == 745435]

,caseid_new,age_when_met,family_size,region,metro,same_political,income_gap
470,745435,42.0,NaN,1,1,0,1.0

In [44]:
df123 = df12.merge(df3, on="caseid_new")
df123.head()
# df123.replace(to_replace="NAN", value="")
df123['family_size'].fillna(round(df123['family_size'].mean()), inplace=True)
df123['relationship_len'].fillna(round(df123['relationship_len'].mean()), inplace=True)
df123['age_when_met'].fillna(round(df123['age_when_met'].mean()), inplace=True)
df123['region'].fillna(df123['region'].mode(), inplace=True)
df123['metro'].fillna(df123['metro'].mode(), inplace=True)
df123['same_political'].fillna(df123['same_political'].mode(), inplace=True)
df123['income_gap'].fillna(round(df123['income_gap'].mean()), inplace=True)
df123['partner_deceased'].fillna(df123['partner_deceased'].mode(), inplace=True)

# df123.shape

In [45]:
df123['income_gap'].value_counts()

1.0    2635
0.0     374
Name: income_gap, dtype: int64

In [5]:
df123[df123["caseid_new"] == 745435]
# df123 = df123[df123.family_size != "NaN"]
# df123.shape

,caseid_new,age_when_met,family_size,region,metro,same_political,income_gap,relationship_len,partner_deceased,relationship_quality_w1
470,745435,42.0,4.0,1,1,0,1.0,22.0,0,good

In [46]:
df123.relationship_quality_w1 = df123.relationship_quality_w1.map({'very poor':0, 'poor':1, 'fair':2, 'good':3, 'excellent':4})
df123['relationship_quality_w1'].fillna(df123['relationship_quality_w1'].mode()[0], inplace=True)

In [50]:
df123.head()
# np.where(df123.isnull != False and != True)
df123.isnull().sum()

# np.where(df123['income_gap'] == "")

caseid_new                 0
age_when_met               0
family_size                0
region                     0
metro                      0
same_political             0
income_gap                 0
relationship_len           0
partner_deceased           0
relationship_quality_w1    0
dtype: int64

In [67]:
from sklearn.model_selection import train_test_split

selected_features = df123[["age_when_met", "family_size", "region", "metro", "same_political", "income_gap", "partner_deceased", "relationship_quality_w1"]]
y = df123["relationship_len"]

X_train, X_test, y_train, y_test = train_test_split(selected_features, y, random_state=0)

In [68]:
# for index, row in df123.iterrows():
#     if row.empty == True:
#         print(row["caseid_new"])
# df123 = df123.astype('float64')
# np.where(np.isnan(df123))
df123.reset_index(drop=True)

,caseid_new,age_when_met,family_size,region,metro,same_political,income_gap,relationship_len,partner_deceased,relationship_quality_w1
0,22526,45.0,0.0,2,1,1,1.0,12.00,0,3.0
1,23286,19.0,0.0,1,1,1,1.0,13.00,0,3.0
2,26315,23.0,1.0,0,1,1,1.0,8.00,0,3.0
3,28536,41.0,1.0,2,1,1,1.0,17.00,0,3.0
4,29584,28.0,0.0,0,1,1,1.0,35.00,0,3.0
5,31456,42.0,8.0,0,1,0,1.0,9.00,0,4.0
6,32656,36.0,0.0,3,1,1,1.0,32.00,0,4.0
7,33536,38.0,0.0,1,1,1,0.0,18.00,0,4.0
8,34341,18.0,0.0,2,1,0,1.0,19.00,0,4.0
9,35653,51.0,0.0,1,1,1,1.0,14.00,0,4.0
10,36493,49.0,3.0,2,0,1,1.0,0.15,0,2.0
11,38895,70.0,0.0,1,1,0,1.0,24.00,0,3.0
12,40335,31.0,0.0,1,1,1,1.0,2.50,0,3.0
13,41505,50.0,0.0,0,1,1,1.0,0.15,0,3.0
14,43381,25.0,0.0,3,1,1,1.0,16.00,0,4.0
15,44486,44.0,2.0,1,1,1,1.0,6.00,0,3.0
16,46746,31.0,0.0,1,1,1,1.0,48.00,0,4.0
17,48225,9.0,0.0,2,1,1,1.0,5.45,0,4.0
18,49731,20.0,3.0,3,0,0,1.0,51.00,0,4.0
19,51376,34.0,10.0,0,1,1,1.0,3.50,0,3.0
20,54415,41.0,3.0,1,1,0,1.0,0.45,0,3.0
21,55365,31.0,3.0,0,1,1,1.0,6.00,0,3.0
22,55686,56.0,10.0,1,1,0,1.0,17.00,0,4.0
23,56536,43.0,0.0,1,1,1,1.0,15.00,0,3.0
24,58295,26.0,0.0,1,1,1,1.0,9.00,0,4.0
25,60743,73.0,6.0,1,1,1,0.0,0.15,0,3.0
26,62283,26.0,0.0,2,1,1,1.0,0.75,0,3.0
27,64331,26.0,3.0,1,1,0,1.0,12.00,0,4.0
28,65446,43.0,0.0,0,1,1,1.0,0.75,0,4.0
29,66484,47.0,0.0,0,1,0,1.0,0.75,0,3.0
...,...,...,...,...,...,...,...,...,...,...
2979,4583501,15.0,1.0,3,0,1,1.0,34.00,0,4.0
2980,4588291,19.0,6.0,2,1,0,1.0,14.00,0,4.0
2981,4590661,14.0,0.0,2,0,0,1.0,55.00,0,3.0
2982,4591396,31.0,5.0,1,0,0,0.0,13.00,0,3.0
2983,4592421,22.0,5.0,0,1,0,1.0,23.00,0,4.0
2984,4593421,28.0,20.0,2,0,1,1.0,18.00,0,4.0
2985,4596491,45.0,5.0,0,1,1,1.0,9.00,0,4.0
2986,4597381,29.0,3.0,0,1,1,1.0,14.00,0,3.0
2987,4598275,26.0,7.0,1,1,1,1.0,0.15,0,3.0
2988,4599246,22.0,0.0,3,1,0,1.0,1.50,0,3.0
2989,4601511,18.0,3.0,0,1,1,1.0,37.00,0,4.0
2990,4602424,21.0,3.0,0,1,1,1.0,23.00,0,0.0
2991,4603581,16.0,8.0,2,1,0,1.0,47.00,0,4.0
2992,4605321,19.0,0.0,3,1,0,1.0,18.00,0,3.0
2993,4607235,22.0,0.0,2,1,1,1.0,6.50,0,4.0
2994,4608683,57.0,8.0,0,1,0,1.0,11.00,0,4.0
2995,4609371,32.0,4.0,2,1,0,1.0,6.00,0,3.0
2996,4610625,17.0,0.0,3,1,1,0.0,37.00,0,3.0
2997,4611531,16.0,20.0,3,1,1,1.0,40.00,0,4.0
2998,4612421,17.0,3.0,1,1,1,1.0,25.00,0,4.0
2999,4613511,14.0,20.0,3,1,0,1.0,40.00,0,4.0
3000,4614621,20.0,14.0,0,1,1,1.0,47.00,0,4.0
3001,4617335,25.0,2.0,1,1,1,0.0,8.00,0,3.0
3002,4618291,23.0,12.0,2,1,1,1.0,11.00,0,3.0
3003,4619421,21.0,3.0,3,1,1,1.0,25.00,0,3.0
3004,4621371,24.0,5.0,3,1,1,1.0,18.00,0,4.0
3005,4622461,31.0,3.0,0,1,0,1.0,19.00,0,4.0
3006,4626536,43.0,0.0,3,1,1,1.0,15.00,0,4.0
3007,4627251,19.0,3.0,0,1,0,1.0,11.00,0,4.0
3008,4628251,19.0,0.0,2,1,0,1.0,10.00,0,3.0

In [88]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

model1 = RandomForestRegressor(max_depth=5, random_state=0)
model1.fit(X_train, y_train)
print(model1.feature_importances_)
model1.predict(X_test)

[0.66811028 0.07737069 0.04101376 0.01470178 0.00520403 0.00614778
 0.11086194 0.07658973]

C:\Users\megam\Anaconda3\envs\PythonData\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([22.07509677, 20.18494814, 13.62079208, 14.06810511, 17.79216448,
       18.79867544, 24.82221902, 31.30999919, 22.50128215, 26.284117  ,
       21.000608  , 27.83596865, 22.91068541, 24.07547595, 28.30993535,
       26.55455985, 25.04219177, 20.52702335, 26.73152636, 24.35774445,
       14.32939082, 24.49765467, 19.78380761, 22.20320722,  9.48029029,
       26.56096845, 14.22327143, 24.49765467, 15.31017319, 28.60988351,
       21.15024897, 26.73152636,  9.48029029, 29.8712368 , 26.55455985,
        8.51655923,  7.96089735, 26.10817127, 17.13803883, 14.88127736,
       18.26972316, 15.59980429, 37.40329787, 21.97266645, 21.36864726,
       29.4437002 , 26.44006091, 13.74950013, 18.12532997,  7.46303827,
       29.47801799, 30.11750928, 29.8712368 , 25.97373109, 15.93235956,
       24.79895325, 23.19096809, 10.09414405, 22.91068541, 25.25435165,
       24.49765467, 28.56873448, 17.89507086, 21.65407422, 28.18459285,
       20.09064853, 18.93335492, 28.46910353, 28.99365972, 23.46793686,
        7.96089735,  7.10660521, 12.0209594 ,  8.51655923, 15.40477571,
       24.15891247, 27.02765636, 26.73152636, 24.05601133, 15.81690279,
       24.82221902, 23.21198399, 16.97735565, 27.68097956, 22.91068541,
       14.35946104, 26.73152636, 18.5893968 , 18.12532997, 23.19096809,
       30.75950176, 14.19032038, 28.2776062 , 29.39634834, 33.73495278,
       28.25606831, 15.63637661, 14.9561542 , 18.51839276,  8.83303388,
       21.65407422, 18.5893968 , 30.64158986, 27.89754499, 20.19320029,
       14.46689212, 28.56873448, 23.34504431, 16.2847843 , 16.68469115,
       22.56999838, 17.13583595,  8.78352893, 22.10371158, 19.66236636,
       25.46559905, 24.49765467, 14.29010261, 27.62699663, 26.284117  ,
       23.47800608, 27.8758333 , 28.2776062 , 19.10950432, 24.82221902,
       26.50316024, 18.79867544, 27.62509639, 29.42612117, 23.34504431,
       18.51839276, 25.81096654, 28.46910353, 25.02774663, 16.4102637 ,
       26.95124656, 15.77118872, 13.7435844 , 23.43515645, 53.5310015 ,
       30.8433005 , 25.25435165, 30.49762546, 26.73075409, 21.65407422,
       25.91990198, 19.10950432, 19.8938786 , 23.34504431, 27.70429449,
       22.39092894, 31.14896216, 22.91068541, 22.91068541, 32.41898154,
       14.78889907, 26.284117  , 23.21198399, 16.4102637 , 15.59163926,
       20.75961012, 25.81096654, 13.8078124 , 29.4437002 , 14.98392765,
       24.49765467, 56.10510406, 13.077408  , 29.39302408, 19.28197241,
       24.82221902, 17.66344809, 28.46910353, 10.5049765 , 24.79895325,
       14.61842967, 13.077408  , 23.99382941, 21.57271309, 31.19359067,
        9.48029029, 29.24904816, 29.08406693, 18.53396886, 28.22620659,
        7.33655742, 29.87761943, 23.99382941,  9.48029029, 16.4102637 ,
       20.75961012, 12.91827973, 17.66652939, 15.41544687, 13.077408  ,
        9.48029029, 27.22321068, 12.48728239,  8.35132701, 17.87462891,
       24.17914083, 19.52014243, 25.91328495,  7.70166728, 26.48734532,
        9.56557896, 29.11370877, 30.0196905 , 14.47154493, 16.08288851,
       27.58034094, 18.51839276, 15.31914372, 14.22327143, 15.93235956,
       24.82221902, 16.50298945, 15.02233065, 24.49765467, 14.98392765,
       22.39092894, 27.06018201, 17.22681928, 30.0720984 , 15.04903387,
       15.59980429, 25.91990198, 17.7586118 , 14.91126084, 29.87761943,
       23.49226667, 28.51689978, 23.95115172, 22.50128215, 21.48893745,
       16.03249963, 20.75961012, 31.25669   , 22.02683391, 23.2412843 ,
       27.06018201, 15.15531208, 23.19096809, 21.65407422, 16.4102637 ,
       15.77118872, 24.82221902, 28.81731153, 24.03248838, 12.48457643,
       29.47801799, 20.13691707, 13.482343  , 18.70165581, 23.99382941,
       22.07509677, 27.23457935, 18.53011615, 18.53484233, 20.87374564,
       32.41898154, 16.03249963, 24.49765467, 27.67441008,  9.48029029,
       24.02354172,  7.70166728, 16.1833158 , 56.10510406, 22.91068541,
       21.27017145, 11.08289483, 17.53018061, 13.50840534, 18.84978979,
       23.34504431, 15.78550941, 20.39770385, 29.8712368 , 29.8712368 ,
       24.82221902, 26.54069953, 19.59627773, 13.23982205, 29.32992475,
       25.91990198, 22.91068541, 19.20046878, 29.39634834, 26.55635675,
       16.14905342, 21.97266645, 19.59627773, 25.91990198, 19.59627773,
       27.06018201, 15.15531208, 14.9561542 , 28.81731153, 17.66344809,
       28.81731153, 19.59627773, 27.37200805, 32.41898154, 20.18494814,
       13.74950013, 25.08297974, 17.13583595,  8.51655923, 27.08131487,
       26.73152636, 32.00725941, 20.75961012, 17.85120312, 27.1279153 ,
       31.02874355, 25.25435165, 26.55635675, 15.40477571, 21.40474414,
       30.61766931, 13.34825595, 13.21504977, 25.25435165, 27.16965532,
       22.91068541, 25.93284906, 13.88110136, 26.284117  , 28.22620659,
       28.22159489, 27.63174055, 16.03249963,  7.99665393, 15.77118872,
       15.30493107, 14.9561542 , 26.73152636, 23.99382941, 24.81992511,
       27.06018201, 24.79895325, 24.82221902, 26.284117  , 25.98352006,
       26.55635675, 16.76859015, 15.83926782, 27.42845445, 26.41235856,
       30.05331064, 23.77417737, 18.84978979, 18.11149267, 22.74465852,
       17.66344809, 46.38134921, 18.5893968 , 27.18195349, 12.37053001,
       25.41770351, 14.45534046, 29.50536848, 20.87374564, 26.73152636,
       21.65407422, 15.17547571, 16.03249963, 26.67812824, 24.82221902,
       24.49765467,  8.92462841, 13.50840534, 30.53547895, 12.89655224,
       16.43496197, 20.52702335, 15.83926782, 16.97735565, 26.284117  ,
       24.63786829, 15.59163926, 16.4102637 , 14.22327143, 27.89395965,
       25.93284906, 21.0398928 , 22.91068541, 20.5911478 , 12.91827973,
       13.83080815, 24.73437645, 23.21198399, 45.01279526, 18.84978979,
       26.41235856, 16.91087233, 19.10950432, 22.91068541, 27.16965532,
       22.91068541, 27.58034094, 27.06018201, 21.72594372, 22.67409481,
       22.91068541, 18.95690707, 24.82221902, 15.04903387, 24.49765467,
       24.82221902, 22.91068541, 18.51839276, 12.25700234,  8.51655923,
        7.38316975, 21.65407422, 30.61741846, 17.94373077, 11.22653717,
       29.01611333, 27.0647937 , 27.89754499, 15.73512052, 22.42033706,
       16.36251409, 25.32375037, 18.51839276, 22.74445956, 20.81858482,
       21.97266645, 22.50128215, 53.15192946, 32.00725941, 15.81258146,
       26.73152636, 30.69082887, 18.55330731,  9.48029029, 25.25435165,
       30.67887199, 14.22327143, 22.16361183, 23.51551525, 26.73152636,
       23.77417737, 22.50128215, 14.87735793, 22.91068541, 16.4102637 ,
       23.19096809, 26.73152636, 29.01611333, 21.56461379, 13.50840534,
       27.58034094, 18.5893968 , 53.39357143, 28.56873448, 19.52014243,
       16.03249963, 21.89964575,  8.51655923, 15.47380961, 27.03315612,
       24.49765467, 28.56873448, 24.49765467, 24.82221902, 27.13271448,
       31.97353529, 25.93284906, 20.28758633, 21.8809676 , 11.22346626,
       21.83092951, 24.35774445, 22.91068541, 16.1833158 , 17.41547697,
       29.36346771, 26.284117  , 21.15024897, 17.98628864, 14.29010261,
       32.62597044, 17.13583595, 13.482343  , 22.16125028, 27.13271448,
       15.31914372, 50.81607143, 31.97353529, 18.53484233, 16.4102637 ,
       24.82221902, 18.11149267, 13.23872231, 27.58514383, 20.75961012,
       18.56359265, 22.91068541, 23.10028019, 21.71020843, 26.55635675,
       25.39103752, 23.99382941, 23.8786298 , 18.32316297, 19.389787  ,
       23.8786298 , 27.73593207, 23.8786298 , 15.8028986 , 26.55635675,
       23.21198399, 21.44825064, 30.05331064, 24.82221902, 31.38470868,
       22.91068541, 21.90429648, 23.2412843 , 24.49765467, 17.66344809,
       18.51839276, 24.06738   ,  8.92462841, 27.23457935, 18.12532997,
       24.35774445, 15.1073966 , 27.08349693, 28.30993535, 18.00808474,
       16.03249963, 27.84830269, 30.67887199, 18.51839276, 22.91068541,
       18.93335492, 25.89919017, 22.91068541, 14.32939082, 13.7435844 ,
        9.48029029, 23.47255789, 25.93284906, 21.65407422, 25.25435165,
       27.72703593, 19.10950432, 13.23004094, 25.91990198, 24.73437645,
       23.77417737, 26.284117  , 16.51106329, 24.05465901, 22.88326469,
       14.78143195, 18.93335492, 17.85120312, 15.09764311, 15.77118872,
       22.91068541, 29.02072503, 10.5049765 , 31.294025  , 25.85346599,
       24.07547595, 23.99382941, 23.10028019, 28.94729862, 31.36600545,
       13.7435844 , 10.56489483, 20.82548278, 14.22327143, 25.57717278,
       21.56461379, 22.57166449, 17.66652939, 30.72246645, 21.72594372,
       13.01235894, 27.22321068, 27.87564582, 14.46689212, 27.12317138,
       28.66358838, 25.91990198, 12.48457643, 23.49226667, 18.5893968 ,
       18.79867544, 20.13691707, 14.30570262, 14.35946104, 24.07547595,
       22.49581838,  8.35132701, 25.25435165, 29.47801799, 23.21198399,
       26.29856214, 15.14184148, 17.94373077, 22.57166449, 17.66652939,
       29.8712368 , 24.49765467, 27.65755785, 23.03429301, 26.73152636,
       13.25793564, 28.46910353,  7.70166728, 18.84978979, 19.52014243,
       27.38020269, 19.10950432, 29.32992475, 22.04780966, 18.84978979,
       30.62288663, 15.19992137, 16.03249963, 25.97373109, 22.91651721,
       22.91068541,  7.99665393, 24.82221902, 17.06660395, 16.03249963,
       29.8038684 , 23.75874641, 22.91068541, 25.25435165, 15.77118872,
       24.49765467, 22.50128215, 23.30418003, 30.72246645, 29.8712368 ,
       26.73152636, 18.37188566, 18.66880887, 31.67575898, 27.12328133,
        9.48029029, 24.82221902, 23.77437633, 18.41990083, 29.01611333,
       24.46996083, 17.13583595, 30.49762546, 14.35946104, 22.91068541,
       22.91068541, 20.39770385, 56.10510406, 28.256091  , 32.00725941,
       18.5893968 , 24.07567491, 27.98783244, 28.81731153, 18.51839276,
       21.0398928 , 22.50128215, 26.54069953, 26.95124656, 25.97373109,
       13.42707398, 24.49765467, 22.91068541, 13.077408  , 12.10800595,
       15.46229092, 26.95124656, 23.49226667, 26.73152636, 29.24904816,
       15.30493107, 22.91068541, 22.96411161, 12.76867355, 26.46403039,
       22.67409481, 26.44006091, 14.30570262, 10.5049765 , 22.16580578,
       16.91087233, 13.64563506, 18.51839276, 18.65922808, 23.19096809,
       24.79895325, 20.52702335, 13.37032453, 27.06018201, 13.67081939,
       16.03249963, 18.79867544, 22.57166449, 18.79867544, 28.37485937,
       27.08112738, 25.93284906, 27.15123022, 26.99374602, 13.74950013,
       26.284117  , 27.07651568,  9.74725999, 28.30993535, 26.42171704,
       27.06018201, 29.32487287, 26.73152636, 22.91068541, 10.56489483,
       54.90431041, 10.09414405,  9.48029029, 15.50008157, 27.29767867,
       17.25352088, 13.48322101, 20.52087661, 18.52713902, 31.02874355,
       27.23210682, 27.12328133, 26.44006091, 21.0518751 , 18.97578266,
       16.4102637 , 24.82221902, 25.32375037, 14.04772154, 11.22346626,
       19.56225509, 27.23457935, 17.75555594, 27.77378095, 21.19494523,
       16.4102637 , 19.28197241,  9.48029029])

In [89]:
# from sklearn.ensemble import RandomForestClassifier
# # Creating a random forest classifier
# model2 = RandomForestClassifier(n_jobs=2, random_state=0)
# # Training classifier
# model2.fit(X_train, y_train)

In [95]:
# Finding important features

num_important = (model1.feature_importances_).astype(str)
features = X_test.columns

def myfunc(a, b):
    return [round(float(b)*100, 2)] + [a]

def to_percentage(score):
    return f'{round(score * 100, 2)}%'

important_features_map = map(myfunc, features, num_important)
important_features = dict(important_features_map)
 
sorted_important_features = sorted(important_features.items(), reverse=True)

print(f"Training Data Score: {to_percentage(model1.score(X_train, y_train))}")
print(f"Testing Data Score: {to_percentage(model1.score(X_test, y_test))}")
print("-----------------------------------------------------")
print(f"Most important features:\n{sorted_important_features[:4]}")

Training Data Score: 21.15%
Testing Data Score: 14.78%
-----------------------------------------------------
Most important features:
[(66.81, 'age_when_met'), (11.09, 'partner_deceased'), (7.74, 'family_size'), (7.66, 'relationship_quality_w1')]

In [ ]:
# Finding important features

num_important = (model2.feature_importances_).astype(str)
features = X_test.columns

def myfunc(a, b):
    return [round(float(b)*100, 2)] + [a]

def to_percentage(score):
    return f'{round(score * 100, 2)}%'

important_features_map = map(myfunc, features, num_important)
important_features = dict(important_features_map)
 
sorted_important_features = sorted(important_features.items(), reverse=True)

print(f"Training Data Score: {to_percentage(model2.score(X_train, y_train))}")
print(f"Testing Data Score: {to_percentage(model2.score(X_test, y_test))}")
print("-----------------------------------------------------")
print(f"Most important features:\n{sorted_important_features[:4]}")