In [49]:
import pandas as pd
import os
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [50]:
from sqlalchemy import Column, Integer, String, Float

In [51]:
#read excel
fake_df = pd.read_excel('example_datatable.xlsx')
fake_df_primarykey = pd.read_excel('example_datatable2.xlsx')

In [52]:
fake_df

    sample  age_gap edu_gap  children race_gap homosexual
0        1        2       y       1.0        n          n
1        2       23       y       2.0        n          n
2        3       64       y       2.0        y          n
3        4        2       y       3.0        y          n
4        5       46       n       0.0        y          n
5        6       22       n       0.0        y          n
6        7        3       y       0.0        n          n
7       11        5       n       0.0        n          y
8       22        8       n       0.0        y          n
9       33        5       n       1.0        n          n
10      44        6       n       2.0        n          n
11      55        9       y       3.0        y          y
12      66       12       y       NaN        n          n
13      77        3       n       8.0        y          n

In [40]:
database_path = "fake_df_2"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [41]:
Base = automap_base()

class Metadata(Base):
    __tablename__ = 'fake_df'
    # Override id column, the type must match. Automap handles the rest.
    id = Column(Integer, primary_key=True)    

# Continue with the automapping. Will fill in the rest.
Base.prepare(engine, reflect=True)

In [44]:
Base.metadata.create_all(engine)

In [45]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [48]:
session.add(fake_df)

UnmappedInstanceError: Class 'pandas.core.frame.DataFrame' is not mapped

In [42]:
Base.classes.keys()

[]

In [43]:
engine.table_names()

[]

In [24]:
fake_df('fake_df', metadata,
        Column('id', Integer, primary_key=True),
        sqlite_autoincrement=True)

NameError: name 'metadata' is not defined

In [53]:
connection_string = "fake_data.db"
engine2 = create_engine(f'sqlite:///{connection_string}')
engine2.table_names() # now it's empty

[]

In [4]:
connection_string = "fake_data.sqlite"
engine2 = create_engine(f'sqlite:///{connection_string}')
engine2.table_names() # now it's empty

['fake_df', 'sample_metadata', 'wv2_w_2', 'x']

In [12]:
fake_df.to_sql(name="fake_df", con=engine2, if_exists='replace', index=True)
engine2.table_names()

['fake_df', 'sample_metadata', 'wv2_w_2', 'x']

In [17]:
# class SomeClass(Base):
class SomeClass(engine2):
    __tablename__ = "sample_metadata"

    uid = sample(Integer, primary_key=True)
#     bar = Column(String, primary_key=True)

NameError: name 'sample' is not defined

In [6]:
sqlite_wv2_w=engine2.execute("SELECT * FROM wv2_w_2").fetchall()
for elem in sqlite_wv2_w[0:5]:
    print(elem)
    print("\n")

(0, 1, 2, 'y', 1.0, 'n', 'n')


(1, 2, 23, 'y', 2.0, 'n', 'n')


(2, 3, 64, 'y', 2.0, 'y', 'n')


(3, 4, 2, 'y', 3.0, 'y', 'n')


(4, 5, 46, 'n', 0.0, 'y', 'n')

OperationalError: (sqlite3.OperationalError) near "PRIMARY": syntax error [SQL: 'ALTER TABLE `fake_df` ADD PRIMARY KEY (`ID_column`);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
# import sqlite3
# import pandas as pd

# # Create the connection
# cnx = sqlite3.connect(r'C:\mydatabases\bigdata.db')

# # create the dataframe from a query
# df = pd.read_sql_query("SELECT * FROM userdata", cnx)