In [19]:
import os

import pandas as pd
import numpy as np

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [8]:
# app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite" # this works
# app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/fake_data.sqlite"
# db = SQLAlchemy(app)

In [10]:
engine = create_engine("sqlite:///db/fake_data.sqlite")
engine = create_engine("sqlite:///db/final_database.db")
# engine = create_engine("sqlite:///db/HCMST_all_wvs_test.sqlite")
# engine = create_engine("sqlite:///db/bellybutton.sqlite")
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [11]:
Base.classes.keys()

['df']

In [12]:
engine.table_names()

['df']

In [34]:
table = Base.classes.df
table

sqlalchemy.ext.automap.df

In [30]:
session = Session(engine)

In [31]:
db = SQLAlchemy(app)

C:\Users\Romina\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [32]:
data= engine.execute("SELECT * FROM df")
print(data.keys())
for record in data:
    print(record)

['index', 'sample', 'age_gap', 'edu_gap', 'children', 'race_gap', 'homosexual']
(0, 1, 2, 'y', 1.0, 'n', 'n')
(1, 2, 23, 'y', 2.0, 'n', 'n')
(2, 3, 64, 'y', 2.0, 'y', 'n')
(3, 4, 2, 'y', 3.0, 'y', 'n')
(4, 5, 46, 'n', 0.0, 'y', 'n')
(5, 6, 22, 'n', 0.0, 'y', 'n')
(6, 7, 3, 'y', 0.0, 'n', 'n')
(7, 11, 5, 'n', 0.0, 'n', 'y')
(8, 22, 8, 'n', 0.0, 'y', 'n')
(9, 33, 5, 'n', 1.0, 'n', 'n')
(10, 44, 6, 'n', 2.0, 'n', 'n')
(11, 55, 9, 'y', 3.0, 'y', 'y')
(12, 66, 12, 'y', None, 'n', 'n')
(13, 77, 3, 'n', 8.0, 'y', 'n')

In [38]:
race_gap = session.query(table.race_gap).all()
race_gap

[('n'),
 ('n'),
 ('y'),
 ('y'),
 ('y'),
 ('y'),
 ('n'),
 ('n'),
 ('y'),
 ('n'),
 ('n'),
 ('y'),
 ('n'),
 ('y')]

In [40]:
filtered_race_gap = session.query(table.race_gap, table.sample).filter(table.race_gap == "n").all()
filtered_race_gap

[('n', 1), ('n', 2), ('n', 7), ('n', 11), ('n', 33), ('n', 44), ('n', 66)]

In [39]:
filtered_race_gap = session.query(table.race_gap, table.sample).filter(table.sample >= 6).all()
filtered_race_gap

[('y', 6),
 ('n', 7),
 ('n', 11),
 ('y', 22),
 ('n', 33),
 ('n', 44),
 ('y', 55),
 ('n', 66),
 ('y', 77)]

In [24]:
results = db.session.query(caseid_new).all()

NameError: name 'caseid_new' is not defined

In [15]:
sample_metadata["caseid_new"] = result[0]

NameError: name 'result' is not defined

In [ ]:
    sel = [
        Samples_Metadata.sample,
        Samples_Metadata.ETHNICITY,
        Samples_Metadata.GENDER,
        Samples_Metadata.AGE,
        Samples_Metadata.LOCATION,
        Samples_Metadata.BBTYPE,
        Samples_Metadata.WFREQ,
    ]

In [ ]:
sample = 940

In [ ]:
results = db.session.query(*sel).filter(Samples_Metadata.sample == sample).all()

In [ ]:
    sample_metadata = {}
    for result in results:
        sample_metadata["sample"] = result[0]
        sample_metadata["ETHNICITY"] = result[1]
        sample_metadata["GENDER"] = result[2]
        sample_metadata["AGE"] = result[3]
        sample_metadata["LOCATION"] = result[4]
        sample_metadata["BBTYPE"] = result[5]
        sample_metadata["WFREQ"] = result[6]

In [ ]:
print(sample_metadata)